.about{
    background-color: var(--light, white);
    width: 100%;
    max-width: 100%;
    padding-bottom: 90px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    top: -10vh;
    opacity: 0.9;
    &__header{
        width: 100%;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.8em;
        color: var(--darker, black);
        padding: 17px 0px 27px 15%;
    }
}

.about-info{
    width: 90%;
    background-color: white;
    -webkit-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.about-photo{
    max-width: 500px;
    background-image: url('../assets/photo1.jpg');
    background-size: contain;
    background-repeat: no-repeat; 
    margin-bottom: 20px;
    margin-right: 20px;
   // opacity: 0;
   // transform: translateX(-16px);
   // transition: 1s;
    position: relative;

    &::before{
        content: '';
        position: absolute;
        bottom: -16px;
        right: -16px;
        width: 100%;
        height: 100%;
        background-color: var(--darker, blue);
    } 

    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--darker, blue);
        opacity: 0.2;
        top: 0;
        left: 0;
    } 
}


.about-description{
    width: 400px;
    padding: 20px 20px 20px 20px;
    flex-grow: 1;
}

.about-counter{
    width: 100%;
    background-color: var(--darker, blue);
    color: white;

    &__photo{
        width: 50%;
    }

    &__paragraph{
        width: 100%;
        text-align: center;
        font-size: 1.2em;
    }
    
    &__bigHeader{
        font-family: 'Ubuntu', sans-serif;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 4em;
        align-self: flex-end;
    }
    
    &__header{
        margin-top: 8px;
        font-family: 'Ubuntu', sans-serif;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 2.5em;
        align-self: flex-end;
    }
}


.customers__header, .employers__header, .offices__header{
    margin-top: 8px;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    align-self: flex-end;
}
.counter-default{
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.counter-year{
    @extend .counter-default;
}

.counter-customers{
    @extend .counter-default;
    background-color: var(--counterLight, blue);
}

.counter-employers{
    @extend .counter-default;
    background-color: white;
    color: var(--darker, black);
}

.counter-offices{
    @extend .counter-default;
    background-color: var(--counterLighter, blue);
}



@media (min-width: 1px) and (max-width: 480px) {
    .about{
        top: -5vh;
    }
    .about-info{
        width: 96%;
    }
    .about-photo{
        order: 2;
        max-width: unset;
        width: 100%; 
        margin-bottom: 0px;
        margin-right: 0px;
        &::before{
            bottom: 0px;
            right: 0px;
        }
    }
    .about-description{
        order: 1;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .about{
        top: -5vh;
    }
    .about-info{
        width: 96%;
    }
    .about-photo{
        order: 2;
        max-width: unset;
        width: 100%; 
        margin-bottom: 0px;
        margin-right: 0px;
        &::before{
            bottom: 0px;
            right: 0px;
        }
    }
    .about-description{
        order: 1;
    }
}
