.career{
    background-color: var(--light, grey);
    width: 70%;
    padding-bottom: 75px;
    padding-left: 10%;

    &__header{
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.8em;
        color: var(--blackBlue, black);
        padding: 17px 0px 27px 52px;
    }
}

.career-info{
    background: #ffffff;
    width: 80vw;
    padding: 20px;
    -webkit-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.career-photo{
    width: 200px;
    height: 200px;
    background-image: url('../assets/career.png');
    background-size: contain;
    background-repeat: no-repeat; 
   // border-radius: 50%;
    padding-bottom: 20px;
    opacity: 0;
    transform:translateX(-100px);
    transition: 1s;
}

.activePhoto{
    opacity: 1;
    transform:translateX(0px);
}

.career-description{
    width: 300px;
    padding: 20px 0px 20px 20px;
    flex-grow: 1;

    &__items{
        list-style: none;
        margin-left: 1em;
    }

    &__icon{
        color: var(--logoGreen, green);
        font-size: 1.2em;
        margin: 8px;
    }

    &__link{
        text-decoration: none;
        color: var(--logoGreen, green);
        &::after{
            display: block;
            content: '';
            border-bottom: 2px solid var(--logoGreen, green);
            transform: scaleX(0);
            transition: transform 400ms ease-in-out;

            transform-origin: 100% 50%;
        }
        &:hover{
            text-decoration: none;
            color: var(--logoGreen, green);
            &::after{
                transform: scaleX(1);
                transform-origin: 0% 50%;
            }
        }
    }
}