.contact{
    background-color: var(--light, grey);
    width: 100%;
    max-width: 100%;
    /*margin-top: 36px; */
    padding-top: 35px;
    padding-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__header{
        width: 100%;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.8em;
        color: var(--blackBlue, black);
        padding: 17px 0px 27px 15%;
    }
}

.contact-form__confirmation{
    margin-top: 150px;
    margin-bottom: 150px;
}
.contact-box{
    width: 80%;
  /*  display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 100%;
    -webkit-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
}

.contact-details{
    background-color: var(--counterLight, orange);
  /*  width: 450px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    &::before{
        content: '';
        position: absolute;
        right: -20px;
        top: 484px;
        width: 40px;
        height: 40px;
        background-color: var(--counterLight, orange);
        transform: rotate(45deg);
    }
    &__items{
        color: white;
        display: flex;
        flex-wrap: wrap;
        padding: 0 5px;
        list-style: none;
        margin: 15px 0px;
    }

    &__item{
        //background-color: var(--logoGreen, green);
        padding: 8px 15px;
        z-index: 5;
        cursor: pointer;
        transition: .5s;
        &:hover{
            background-color: var(--logoGreen, green);
        }
    }

}

.activeCity{
    background-color: var(--logoGreen, green);
}


.fa-paper-plane{
    font-size: 40px;
    color: white;
    padding: 36px 0px 40px 0px;
    opacity: 0;
    transform: translate(-100px, 100px);
    transition: 1s;
}

.activePlane{
    opacity: 1;
    transform: translate(0px, 0px);
}

.contact-photo{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 16px 0px 32px 0px;
    &__photo{
        background-color: var(--counterLighter, blue);
        transform: translate(16px, 16px);
    }

    &__img{
        transform: translate(-16px, -16px);
    }
}


.contact-text{
    padding: 0px 0px 2em 32px;
    color: white;
    &__header{
        color: white;
        font-size: 1.2em;
        font-weight: 700;
        line-height: 1.7rem;
    }

    &__paragraph{
        color: white;
        line-height: 1.7rem;
    }
}

.boss{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 32px;
    margin-left: 0px;  
    position: relative;

    &::before{
        content: '';
        position: absolute;
        top: -6px;
        left: 30px;
        width: 70px;
        height: 4px;
        border-radius: 10px;
        background-color: var(--counterLighter, blue);
    }
}

.tricky-line{
    background-color: var(--counterLighter, blue);
    height: 70px;
    width: 4px;
    border-radius: 10px;
}

.employers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 32px;  

    &D__header{
        font-size: 1.1em;
        font-weight: 600;
        position: relative;
        width: 100%;
        text-align: left;
        margin-left: 6px;
        &::before{
            content: '';
            position: absolute;
            top: -12px;
            left: 23px;
            width: 70px;
            height: 4px;
            border-radius: 10px;
            background-color: var(--counterLighter, blue);
        }
    }
}

.contact-persons{
    color: white;
    margin: 8px 6px;
    &__header{
        font-size: 1.1em;
        font-weight: 600;
    }
    &__person{
        font-weight: 600;
        font-size: 0.9em;
    }
    &__phone, &__mail{
        margin-left: 8px;
        font-size: 0.9em;
    }

    &__link{
        color: white;
        transition: .5s;
        &::after{
            display: block;
            content: '';
            border-bottom: 2px solid var(--counterLighter, blue);
            transform: scaleX(0);
            transition: transform 400ms ease-in-out;

            transform-origin: 100% 50%;
        }
        &:hover{
            color: var(--counterLighter, blue);
            text-decoration: none;
            &::after{
                transform: scaleX(1);
                transform-origin: 0% 50%;
            }
        }
    }
}

.finance{
    width: 90%;
    z-index: 6;
}

.contact-adress{
    padding-left: 68px;
    line-height: 25px;
    font-family: 'Ubuntu', sans-serif;

    &__icon{
        color: white;
        font-size: 1.4em;
        padding-right: 25px;
        padding-bottom: 10px;
    }

    &__link{
        display: block;
        color: white;
        text-decoration: none;
    }

    &__paragraph{
        color: white;
    }
    
    &__paragraphB{
        color: white;
        font-weight: 700;
    }
}



.contact-form{
    background-color: white;
    /*width: 400px;
    flex-grow: 1; */

    &__header{
        color: var(--darker, black);
        font-size: 2em;
        letter-spacing: 0.04em;
        padding: 36px 0px 2em 68px;
    }

    &__form{
        display: flex;
        flex-direction: column;
        padding-left: 68px;
        padding-right: 68px;
        width: 100%;
    }

    &__textarea{
        color: var(--darker, black);
        background-color: var(--greyback, grey);
        min-height: 180px;
        border: none;
        border-radius: 15px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1em;
        line-height: 25px;
        outline: none;
        padding: 10px;
        margin: 8px 0px;
        resize: none;

        &::-webkit-input-placeholder {
            padding-top:60px;
         }
    
        &::-moz-input-placeholder {
            padding-top:60px;
        }
    
        &:-ms-input-placeholder {
            padding-top:60px;
         }

        &:focus{
            -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75);
            box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75);
        }
    }

    &__input{
        color: var(--greyinput, black);
        background-color: var(--greyback, grey);
        border: none;
        border-radius: 15px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1em;
        line-height: 25px;
        outline: none;
        padding: 10px;
        margin: 8px 0px;

        &:focus{
            -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75);
            box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75);
         }
     }

     &__button{
        border: 1px solid var(--logoGreen, green);
        border-radius: 15px;
        padding: 14px 28px 14px 28px;
        width: 100px;
        background-color: white;
        color: var(--logoGreen, green);
        margin: 20px 0px;
        align-self: flex-end;
        cursor: pointer;
        transition-property: background-color, color, font-weight;
        transition-duration: .5s;

        &:hover{
            background-color:var(--logoGreen, green);
            color: white;
            font-weight: 700;
        }
     }
}

 
 .nameTextError, .emailTextError, .messageTextError{
    font-size: 0.8rem;
    font-style: italic;
    color: red;
 }

 .nameInputError, .emailInputError, .messageInputError{
    border: 2px solid red;
 }

@media (min-width: 1px) and (max-width: 480px) {
    .contact-details::before{
        bottom: 0px;
        left: 32px;
        right: unset;
        top: unset;
    }
    .fa-paper-plane{
        font-size: 30px;
        padding: 20px 0px 20px 0px;
    }
    .contact-box{
        width: 90%;
        grid-template-rows: unset;
        grid-template-columns: 100%;
    }
    .contact-text{
        padding: 0px 0px 0em 34px;
    }
    .contact-adress{
        padding-left: 34px;
        padding-bottom: 10px;
        line-height: 25px;
        font-family: 'Ubuntu', sans-serif;
    }
    .contact-form__header{
        padding: 36px 0px 2em 18px;
    }
    .contact-form__form{
        padding: 0px 34px;
    }
    .tricky-line{
        display: none;
    }
    .contact-photo{
        &__photo{
            transform: translate(8px, 8px);
        }
    
        &__img{
            transform: translate(-8px, -8px);
        }
    }
}

@media (min-width: 481px) and (max-width: 768){
    .tricky-line{
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 1350px){
    .contact-details::before{
        bottom: -20px;
        left: 32px;
        right: unset;
        top: unset;
    }
    .contact-box{
        width: 90%;
        grid-template-rows: unset;
        grid-template-columns: 100%;
    }
    .contact-text{
        padding: 0px 0px 0em 34px;
    }
    .fa-paper-plane{
        font-size: 30px;
        padding: 20px 0px 20px 0px;
    }
    .contact-adress{
        padding-left: 34px;
        padding-bottom: 10px;
        line-height: 25px;
        font-family: 'Ubuntu', sans-serif;
    }
    .contact-form__header{
        padding: 36px 0px 2em 18px;
    }
    .contact-form__form{
        padding: 0px 34px;
    }
}