.footer{
    background-color: var(--darker, black);
    color: white;
    padding: 16px;
    font-size: 0.9em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.footer-author{
    width: 100%;
    display: flex;
    justify-content: center;

    &__link{
        color: white;

        &:hover{
            text-decoration: none;
            color: white;
        }
    }
}


.footer-bank{
   &__header{
       font-weight: 600;
   }
}

.footer-bold{
    color: var(--counterLighter, blue);
}

.footer-member{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 24px 0px;
    &__photo{
        height: 100px;
        max-width: 300px;
        margin: 1em;
        &:nth-child(even){
            opacity: 0.3;
        }
    }

    &__paragraph{
        width: 100%;
        text-align: center;
        color: var(--counterLighter, blue);
        margin-bottom: 1em;
    }
}

.cookies{
    width: 100%;
    padding: 15px;
    font-size: 0.8em;
    background-color: var(--darker);
    color: white;
    opacity: 0.8;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &__button{
        margin-right: 1em;
        border: 1px solid var(--logoGreen, green);
        border-radius: 15px;
        padding: 8px 16px;
        background-color: white;
        color: var(--logoGreen, green);
        align-self: flex-end;
        cursor: pointer;
        transition-property: background-color, color, font-weight;
        transition-duration: .5s;

        &:hover{
            background-color:var(--logoGreen, green);
            color: white;
            font-weight: 700;
        }
    }

    &__link{
        color: white;
        padding: 0px 8px;
        &:hover{
            color: white;
            text-decoration: none;
        }
    }
}