@import "~bootstrap/scss/bootstrap";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import './abstracts/variables.scss';

@import './components/navigation.scss';
@import './components/baner.scss';

*{
    margin: 0;
    padding: 0;
}
