@import "~bootstrap/scss/bootstrap";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import './abstracts/variables.scss';

@import './components/navigation.scss';
@import './components/baner.scss';
@import './components/about.scss';
@import './components/career.scss';
@import './components/contact.scss';
@import './components/footer.scss';

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
 //   font-family: 'Jost', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}